.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

.each-comment-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  margin-bottom: 10px;
}

.initial-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  padding-bottom: 3px;
  margin-top: 15px;
  margin-right: 10px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 20px;
}

.commenter-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 0;
  height: 60px;
}

.commenter-name {
  font-family: 'Consolas';
  font-size: 27px;
  margin-right: 10px;
  font-weight: 800;
  margin-top: 13px;
}

.time {
  font-size: 15px;
  margin-top: 20px;
  color: #64748b;
  font-family: 'Consolas';
  font-weight: 700;
}

.comment-content {
  font-family: 'Consolas';
  font-size: 22px;
  color: #475569;
  margin-top: 0;
  margin-bottom: 8px;
  margin-left: 55px;
  text-align: left;
}

.btn-like {
  border-style: none;
  background-color: transparent;
  width: 15px;
  cursor: pointer;
  outline: none;
  margin-left: 10px;
}

.like-image {
  height: 25px;
  width: 25px;
}

.delete-img {
  height: 25px;
  width: 25px;
}

.btn-delete {
  border-style: none;
  background-color: transparent;
  width: 25px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.horizontal-separator {
  border: solid 1px #7e858e;
  width: 100%;
}
